@import "../utils/variables.scss";

.pokemonList{
    display: flex;
    flex-wrap: wrap;
}

.cardList{
    border: 1px solid $color3;
    border-radius: 8px;
    margin: 8px;
    padding: 4px;
    box-shadow: 5px 8px 10px #888888;
}